*{
    margin:  0;
    border: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(164, 238, 238);
} 

/*Codigo Zoe*/
main{
    width: fit-content;
    margin: auto;
}

header{
    color: magenta;
    height: 6rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

menu{
    list-style: none;
    font-size: 1.5rem;
}

li{
    display: inline;
    padding: 1rem;
}

a{
    text-decoration: none;
}

.sobremi{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.foto{
    width: 50%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 1rem;
    margin-right: 3rem;
} 

.perfil{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
} 


figure{
    display: flex;
    justify-content: end;
}

section figure img{
    width: 50%;
    border-radius: 50%;
    box-shadow: 7px 5px 20px 16px rgb(7 4 4 / 43%);
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

 /* misproyectos */

.titulo{
    width: 100%;
    align-items: center;
}

.htmlycss{
    width: 80vw;
    margin: auto;
    text-align: left !important;
}

.misproyectos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

article{
    margin: 1rem 1rem;
    background-color: white;
    border-radius: 1rem;
    width: 25vw;
}

h3{
    text-align: center;
    padding: 1rem;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.icon{
    width:32px;
}

section.misproyectos article img{
    width: 100%;
}

section.misproyectos article ul li img {
    width: 32px;
    border-style: none;
}


/* contacto*/
/*Con el codigo de Zoe no es necesario*/
/* section.contacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-evenly;
} */

footer p{
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 1rem;
    margin-left: 1rem;
}

p.misprojects {
    position: inherit !important;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 1rem;
    margin-left: 1rem;
}
