* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 
h1 {
    position: absolute;
    z-index: -1 ;
}
section {
    height: 10rem;
    width: 10rem;
}

p {
    margin: 0;
    height: 5rem;
    width: 5rem;
    border: 2px solid black;
}

p:nth-child(1) {
    float: left;
    border: 1px solid red;
    background-color: red;
    transition: transform 2s;
    transform-origin: bottom left;
}

main:hover p:nth-child(1) {
    transform: rotate(270deg);
}

p:nth-child(2) {
    float: right;
    border: 1px solid yellow;
    background-color: yellow;
    transition: transform 2s;
    transform-origin: bottom right;
}

main:hover p:nth-child(2) {
    transform: rotate(-270deg);
}

p:nth-child(3) {
    float: left;
    border: 1px solid blue;
    background-color: blue;
    transition: transform 2s;
    transform-origin: top left;
}

main:hover p:nth-child(3) {
    transform: rotate(-270deg);
}

p:nth-child(4) {
    float: right;
    border: 1px solid green;
    background-color: green;
    transition: transform 2s;
    transform-origin: top right;
}

main:hover p:nth-child(4) {
    transform: rotate(270deg);
}