//Crear archivo .env con las sigueintes variables

/** CONEXION CON BBDD
MYSQL_HOST=direccion del servidor
MYSQL_USER=nombre de usuario con acceso y modificacion sonbre las base de datos
MYSQL_PASSWORD=contraseña del usuario
MYSQL_DATABASE=nombre de la base de datos

/** Variable para codificar la contraseña
SECRET=cadena de texto para la encriptacion de la contraseña de usuario que se guarda en la BBDD

/** CONFIGURACION DE ENVIO DE CORREO
DOMINIO=dominino del correo electonico (ej. hotmail, gmail, ...)
USER_MAIL=cuanta de correo electronico desde la que se envian los correos
PASS_MAIL=contraseña de la cuenta del correo electronico



