/*Resteos de los valosres de css por defecto*/
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

main{
    background-image: url("/3-Flex/img/hamburguesa.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



form{
    /* height: 90vh;
    padding: 1rem;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
} 


legend{
    font-family: sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

p{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

ul{
    list-style: none;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
}  

fieldset:nth-child(2) ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

fieldset:nth-child(2) ul label{
    font-style: italic;
    font-family: cursive;
}

fieldset:nth-child(2) ul input{
    margin-top: 1rem;
    width: 100%;
    height: 1.5rem;
}

fieldset:nth-child(2) ul textarea{
    margin-top: 1rem;
    width: 100%;
}

li{
    display: contents;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
fieldset:nth-child(3){
    display: flex;
    flex-direction: column;
}

select{
    height: 2rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-weight: bold;
    color: black;
    
}

button{
    width: 5rem;
    height: 2rem;
    background-color: rgb(32, 32, 68);
    color: white;
}

button:hover{
    background-color: white;
    color: rgb(32, 32, 68);
    border: 2px solid rgb(32, 32, 68)
}